{% extends "store/base.html" %}

{% block content %}
<div class="col-md-12">
        <div class="content-section word-wrap">
            <h2 class="border-bottom">About</h2>
            <p>DealWithIt is the best place to sell your stuff in an easy and cost-effective way and also for buying yourself something new by seeing someone else's products listing</p>
            <p>I hope you enjoy this website as much as I did coding it!</p>
            <br />
            <p>This project was made for studying purposes</p>
            <br />
            <p>Sincerely, Anderson L. Sergio</p>
        </div>
    </div>
{% endblock content %}