{% extends "store/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-8 block-center">
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Sell My Product!
                </legend>
                {{ form|crispy}}
            </fieldset>
            <div class="form-group d-flex justify-content-center">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#exampleModal">
                    How charges are applied?
                </button>
                
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">How am I going to be charged?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Detailed information about how charges are applied will be presented here soon enough
                                <ul class="list-group">
                                    {% for object in object_list %}
                                        {% if object.model_name == 'Category' %}
                                            <li class="list-group-item">
                                                {{ object.name|title }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit form -->
                <button class="btn btn-outline-info ml-auto" type="submit">
                    Confirm
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}