{% extends "store/base.html" %}

{% block content %}
<div class="col-md-4">
    <div class="content-section product-detail-wrapper">
        <h3 class="article-title">{{ object.name }}</h3>
        <div class="media">
            <img class="border rounded" id="product-detail-img" src="{{ object.image.url }}" alt="Product">
        </div>
        <div class="article metadata pt-2">
            <div>
                <a href="{% url 'user_products' object.seller %}" class="mr-2">{{ object.seller }}</a>is selling this
            </div>
            <div>
                <small class="text muted">Posted on {{ object.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="container border rounded mt-3" id="contact-info">
                <ul>
                    <li class="wordwrap">
                        <i class="far fa-user"></i>
                        {{ object.seller.first_name }} 
                        {{ object.seller.last_name }}
                    </li>
                    <li class="wordwrap">
                        <i class="far fa-envelope"></i>
                        {{ object.seller.email }}
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        {% if object.seller.profile.phone_number_is_public %}
                            {{ object.seller.profile.phone_number }}
                        {% else %}
                            Don't want to inform
                        {% endif %}
                    </li>
                    <li>
                        <i class="fas fa-thumbtack"></i>
                        {{ object.seller.profile.city }} - {{ object.seller.profile.state }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-8">
    <article class="media content-section">
        <div class="media-body text-wrapping">
            <h2 class="mt-2">Product Description:</h2>
            <p class="article-content">{{ object.description | linebreaks }}</p>
            {% if object.seller == user %}
            <div>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'product_delete' object.id %}">Delete</a>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product_update' object.id %}">Update Info</a>
            </div>
            {% endif %}
        </div>
    </article>
</div>
{% endblock content %}