html, body {
  height: 100%;
}

body {
  background: #d4d3d3;
  color: #333333;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #334452;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.category-filtering,
.category-filtering:hover {
  text-decoration: none;
}

.container {
  flex: 1 0 auto;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.product {
  width: 20rem;
  text-align: center;
  padding: 10px 10px 20px 10px;
  margin: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product:hover {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.product img {
  max-height: 10rem;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.block-center {
  display: block;
  margin: auto;
}

.block-center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.card,
a.card:hover {
  color: #212529;
  text-decoration: none;
}

h5.card-title,
.card-text {
  color: #474747fb;
  font-size: 90%;
  font-weight: 600;
}

.bottom-align {
  margin-top: auto
}

.btn-info {
  text-decoration-color: transparent;
  background-color: #0c5e6bfb;
  border-color: #0c5e6bfb;
}

.btn-outline-info {
  color: #0c5e6bfb;
  border-color: #0c5e6bfb;
}

.btn-outline-info:hover {
  text-decoration-color: transparent;
  background-color: #0c5e6bfb;
}

footer {
  font-family: 'Roboto', sans-serif;
  background-color: #334452;
  color: #d4d3d3;
  text-align: center;
  padding: 40px 0 20px 0;
  border-radius: 0px 0px 6px 6px;
  flex-shrink: 0;
}

footer h5 {
  color: #d4d3d3;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #d4d3d3;
  padding-top: 2rem;
}

footer h2 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 0;
  color: #d4d3d3;
}

.social li {
  display: inline;
}

.social i {
  font-size: 300%;
  margin: 0;
  padding: 2% 3% 2% 0%;
  color: #C3D7DF;
}

.social i:hover {
  color: #F5F5F5;
}

.product-detail-wrapper {
  padding: 1.5rem;
}

.product-detail-wrapper a {
  color: #212529;
  font-weight: 600; 
  text-decoration: none;
}

.product-detail-wrapper a:hover {
  color: #43484d;
}

.product-detail-wrapper h3 {
  font-size: 135%;
  font-weight: 600;
}

#product-detail-img {
  max-width:100%;
  max-height:100%;
}


@media screen and (max-width: 768px) {
  footer h5 {
    font-size: 80%;
  }

  footer h2 {
    font-size: 120%;
  }

  .social {
    padding-inline-start: 20px;
  }

  .social i {
    font-size: 200%;
    margin: 0;
    padding: 3% 3% 3% 0%;
  }
  
}