{% extends "store/base.html" %}

{% block content %}
<div class="col-md-3">
    <div class="content-section">
        <h3>Filtering</h3>
        <p class='text-muted'>Choose by Category
        <ul class="list-group">
            <li class="list-group-item list-group-item-light">Electronics</li>
            <li class="list-group-item list-group-item-light">Auto</li>
            <li class="list-group-item list-group-item-light">Hobbies</li>
            <li class="list-group-item list-group-item-light">Sports</li>
        </ul>
        </p>
    </div>
</div>
<div class="col-md-9">
    <div class="container content-section">
        <div class="row">
            {% for product in products %}
                <a href="{% url 'product_detail' product.id %}" class="card product col-md-3">
                    <img alt="Product" src="{{ product.image.url }}" class="card-img-top">
                    <div class="card-block bottom-align">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text">US$ {{ product.price }} </p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}