{% extends "store/base.html" %}

{% block content %}
    <div class="col-md-12">
        <div class="content-section word-wrap">
            <h2 class="border-bottom">More Credits</h2>
            <p>Click on the corresponding ammount and fill out the form with your credit card info in order to proceed:</p>
            <form action="{% url 'charge' %}" method="post">
                {% csrf_token %}
                <div class="row container mb-4 mt-4 d-flex justify-content-center">
                    <div class="mr-2">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-label="US$5"
                                data-key="{{ key }}"
                                data-description="Dealwithit Store Charge"
                                data-image="../media/dealwithit.png"
                                data-zip-code="true"
                                data-amount="500"
                                data-locale="auto">
                        </script>
                    </div>
                    <div class="mr-2">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-label="US$10"
                                data-key="{{ key }}"
                                data-description="Dealwithit Store Charge"
                                data-image="../media/dealwithit.png"
                                data-zip-code="true"
                                data-amount="1000"
                                data-locale="auto">
                        </script>
                    </div>
                    <div class="mr-2">
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-label="US$15"
                                data-key="{{ key }}"
                                data-description="Dealwithit Store Charge"
                                data-image="../media/dealwithit.png"
                                data-zip-code="true"
                                data-amount="1500"
                                data-locale="auto">
                        </script>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}